<div class="row">
  <div class="col-3">
    <ul class="list-group" id="menu">
      <li class="list-group-item" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</li>
      <li class="list-group-item" routerLink="/admin/categoria" routerLinkActive="active">Categoria</li>
      <li class="list-group-item" routerLink="/admin/produto" routerLinkActive="active">Produto</li>
    </ul>
  </div>

  <div class="col-9">
    <app-alerts></app-alerts>
    <router-outlet></router-outlet>
  </div>
</div>
