<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-6 mb-2" *ngFor="let produto of produtos">
    <div class="card">
      <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Imagem referente ao produto.">
      <div class="card-body">
        <h5 class="card-title">{{ produto.nome }}</h5>
        <p class="card-text">{{ produto.descricao }}</p>
        <p class="card-text">{{ produto.preco | currency:'BRL':true }}</p>
        <a (click)="adicionarProduto(produto)" class="btn btn-block btn-primary">Adicionar Carrinho</a>
      </div>
      <div class="card-footer text-center product-avaliation">
        <span class="ion-ios-star"></span>
        <span class="ion-ios-star"></span>
        <span class="ion-ios-star"></span>
        <span class="ion-ios-star-half"></span>
        <span class="ion-ios-star-outline"></span>
      </div>
    </div>
  </div>
</div>
